{% include "head.njk" %}

<article>
    <header>
        <h1>
            <a href="/">
                {{ title }}
                {% if preamble %}
                    <br/>
                    {{ preamble | safe }}
                {% endif %}
            </a>
        </h1>
        {% if theme.cover %}<img class="cover" src="{% img2 theme.cover %}">{% endif %}
    </header>
    <main>
        {{ content | wrap | safe }}
    </main>
</article>

{% include "foot.njk" %}