---
layout: layouts/default.njk
body_class: home
---

<section class="left">
    <h1>Nordic<br />Audio<br />Visual<br />Artists.</h1>
</section>
<section class="right">
    <nav>
        <a href="./open-call-roskilde/">Open call Roskilde</a>
        <s><a href="./open-call-reykjavik/">Open call Reykjavik</a></s>
    </nav>
    <br>
    <p>
        NAVA is a community with the sole purpose of empowering the field of audiovisal arts.
    </p>
    <nav>
        <a href="https://jonasjohansson.se/">Jonas Johansson</a>
        <a href="http://www.stridestud.io/">Rasmus Stride</a>
        <a href="https://www.katikati.me/">Katrín Hauksdottir</a>
        <a href="https://atlibollason.com/">Atlí Bollason</a>
    </nav>
</section>