:root {
	--base:24px;
	--aside-width:20%;
	--gray:rgba(0,0,0,0.25);
}


/* general */

html,
body {
	padding:0;
	margin:0;
}

body {
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	padding:var(--base);
}

h1,h2,h3,h4 {
	margin-top:0;
}

h1 {
	font-size:calc(var(--base)*2);
}

div {
	padding:var(--base) 0;
}

footer {
	padding-top:0;
}

div p:last-of-type:last-child {
	margin-bottom:0;
}

p span:not(:only-of-type):first-child {
	display:block;
	font-weight:bold;
}

hr {
	margin:var(--base) 0;
	border-color:var(--gray);
	border-bottom:0;
}

h1 {
	font-size:58px;
	margin-bottom:0;
}

h1 ~ span {
	font-size:10px;
	text-transform:uppercase;
	font-weight:bold;
}


/* main */

main > div:first-child {
	border-top:1px solid var(--gray);
}

main > div:last-child {
	border-bottom:1px solid var(--gray);
}
main > div:not(:last-child) {
	border-bottom:1px solid var(--gray);
}