* {
	padding: 0;
	border: 0;
	margin: 0;
}

.row {
	position: relative;
	width: 100vw;
	height: 20vh;
	box-sizing: border-box;
	clear: left;
	overflow: hidden;
}

.row,
.cell {
	height: 25vh;
	line-height: 25vh;
}

.row:nth-child(odd) {
	background-color: #eee;
}

.cell {
	float: left;
	width: 33.33vw;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

iframe {
	width: 100%;
	height: 100%;
}
