@font-face {
    font-family: 'F37 Bolton';
    src: url('F37Bolton-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'F37 Bolton';
    src: url('F37Bolton-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'F37 Bolton';
    src: url('F37Bolton-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'F37 Bolton';
    src: url('F37Bolton-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'F37 Bolton';
    src: url('F37Bolton-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'F37 Bolton';
    src: url('F37Bolton-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'F37 Bolton';
    src: url('F37Bolton-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'F37 Bolton';
    src: url('F37Bolton-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

