@font-face {
    font-family: 'Theinhardt';
    src: url('Theinhardt-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('Theinhardt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('Theinhardt-MediumIta.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('Theinhardt-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('Theinhardt-LightIta.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('Theinhardt-RegularIta.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

