#home {
	/* font-size: max(54px, min(7vw, 96px)); */
	/* height: 100%; */
	height: 100vh;
	padding: calc(var(--base) * 2);
	/* background-image: linear-gradient(#0f160e, #6e4eb9, #0f1606); */
	max-width: max(80vw, 800px);
}

#home:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('/assets/img/home.png');
	background-size: cover;
	background-position: center center;
	filter: blur(10) contrast(1.1);
}

@media (min-height: 800px) {
	#home {
		display: grid;
		justify-content: center;
		align-content: center;
	}
}

#home article > * {
	padding: 0;
}

#home > p {
	padding: 0 var(--base);
	text-transform: uppercase;
}

nav {
	mix-blend-mode: exclusion;
}

nav a {
	xbackground-image: linear-gradient(90deg, var(--bg));
	x-webkit-background-clip: text;
	x-webkit-text-fill-color: transparent;
	background-size: 100%;
	transition: filter 500ms ease-out;
	filter: contrast(1) brightness(1);
}

nav a:hover {
	filter: contrast(1) brightness(5);
}

nav a:not(:last-of-type):after {
	content: ' ·\00a0';
	display: inline-block;
}

