#home {
	/* font-size: max(54px, min(7vw, 96px)); */
	/* height: 100%; */
	height: 100vh;
	padding: calc(var(--base) * 2);
	/* background-image: linear-gradient(#0f160e, #6e4eb9, #0f1606); */
	max-width: max(80vw, 800px);
}

@media (min-height: 800px) {
	#home {
		display: grid;
		justify-content: center;
		align-content: center;
	}
}

#home article > * {
	padding: 0;
}

#home > p {
	padding: 0 var(--base);
	text-transform: uppercase;
}

nav a {
	background-image: linear-gradient(90deg, var(--bg));
	filter: contrast(1) brightness(2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 100%;
	transition: filter 500ms ease-out;
}

nav a:hover {
	filter: contrast(1) brightness(5);
}
