body {
    font-family: 'Trim', system-ui;
}

body:not(#home) {
    background-color: black;
    color: white;
}

body#home {
    /* max-width: 960px; */
    /* font-size: 2.5rem; */
    font-size: 5.5vw;
    /* height: 80vh; */
    height: 100%;
    padding: 1rem;
    margin: 0 auto;
}

body#home article > * {
    padding: 0;
}

/* body#home > article {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
} */

nav a span,
p a,
li a {
    text-decoration: underline;
}

input {
    padding: calc(var(--base) / 2);
    font-weight: inherit;
}

input[type='text'] {
    margin-right: var(--base);
}

@media (max-width: 540px) {
    form input {
        width: 100%;
        float: left;
    }
    form input[type='text'] {
        margin-bottom: var(--base);
        margin-right: var(--base);
    }
}

@media (max-width: 800px) {
    body {
        font-size: 1.2rem !important;
    }
}

@font-face {
    font-family: 'Trim';
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/Trim-Light.woff2) format('woff2');
    unicode-range: U+000-5FF;
    font-display: swap;
}
