:root {
  --base: 1.6rem;
  --padding-side: 6vw;
  --black: #ebebeb;
  --white: #0b0b0b;
}

html {
  will-change: filter;
  transition: filter 20ms ease-in;
  font-family: 'TT Firs Neue', -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  min-height: 100vh;
  background-color: var(--black);
  color: var(--white);
}

/* html.invert {
  filter: invert(1);
} */

body {
  margin: 0 auto;
  font-size: max(3rem, min(2vw, 4.8rem));
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.01rem;
  box-sizing: border-box;
}

body > * {
  transition: opacity 400ms ease-in;
  opacity: 1;
}

body.loading > * {
  opacity: 0;
}

#home,
h1 {
  font-size: max(4.2rem, min(4vw, 7rem));
}

a {
  cursor: pointer;
}

@media only screen and (-webkit-device-pixel-ratio: 2) and (max-device-width: 1366px) {
  html {
    font-size: 50%;
  }
}

/* basic */

strong {
  font-weight: normal;
}

a,
a:link {
  color: inherit;
  text-decoration: none;
  will-change: opacity;
  transition: opacity 100ms ease-in-out;
}

a:not(:hover) {
  opacity: 0.6;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h2 {
  text-transform: uppercase;
}

h2,
h3 {
  font-size: inherit;
  letter-spacing: 0.01em;
}

ul,
ol {
  padding-left: 1em;
}

ul {
  list-style: square;
}

p:not(:only-child),
article > *,
section > *:not(:last-child) {
  margin-bottom: calc(var(--base) * 2);
}

/* article {
    overflow-x: hidden;
} */

article > * {
  margin-right: auto;
  margin-left: auto;
  padding: 0 calc(var(--base) * 2);
  box-sizing: border-box;
}

article > * > *:not(ol) {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

section p:first-child {
  margin-top: 0;
}

/* other */

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: url('/assets/fonts/TTFirsNeue-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: url('/assets/fonts/TTFirsNeue-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}
