@font-face {
    font-family: 'Maison Neue Extended';
    src: url('MaisonNeueExtended-ExtBdIta.woff2') format('woff2'),
        url('MaisonNeueExtended-ExtBdIta.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Maison Neue Extended';
    src: url('MaisonNeueExtended-MedIta.woff2') format('woff2'),
        url('MaisonNeueExtended-MedIta.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Maison Neue Extended';
    src: url('MaisonNeueExtended-SemBdIta.woff2') format('woff2'),
        url('MaisonNeueExtended-SemBdIta.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Maison Neue Extended';
    src: url('MaisonNeueExtended-ExtraThin.woff2') format('woff2'),
        url('MaisonNeueExtended-ExtraThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue Extended';
    src: url('MaisonNeueExtended-Bold.woff2') format('woff2'),
        url('MaisonNeueExtended-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue Extended';
    src: url('MaisonNeueExtended-ExtraBold.woff2') format('woff2'),
        url('MaisonNeueExtended-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue Extended';
    src: url('MaisonNeueExtended-Light.woff2') format('woff2'),
        url('MaisonNeueExtended-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue Extended';
    src: url('MaisonNeueExtended-SemiBold.woff2') format('woff2'),
        url('MaisonNeueExtended-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue Extended';
    src: url('MaisonNeueExtended-LightIta.woff2') format('woff2'),
        url('MaisonNeueExtended-LightIta.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Maison Neue Extended';
    src: url('MaisonNeueExtended-BlackIta.woff2') format('woff2'),
        url('MaisonNeueExtended-BlackIta.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Maison Neue Extended';
    src: url('MaisonNeueExtended-ThinItalic.woff2') format('woff2'),
        url('MaisonNeueExtended-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Maison Neue Extended';
    src: url('MaisonNeueExtended-Thin.woff2') format('woff2'),
        url('MaisonNeueExtended-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue Extended';
    src: url('MaisonNeueExtended-BookItalic.woff2') format('woff2'),
        url('MaisonNeueExtended-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Maison Neue Extended';
    src: url('MaisonNeueExtended-BoldItalic.woff2') format('woff2'),
        url('MaisonNeueExtended-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Maison Neue Extended';
    src: url('MaisonNeueExtended-Medium.woff2') format('woff2'),
        url('MaisonNeueExtended-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue Extended';
    src: url('MaisonNeueExtended-Black.woff2') format('woff2'),
        url('MaisonNeueExtended-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Maison Neue Extended';
    src: url('MaisonNeueExtended-ExraThIt.woff2') format('woff2'),
        url('MaisonNeueExtended-ExraThIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Maison Neue Extended';
    src: url('MaisonNeueExtended-Book.woff2') format('woff2'),
        url('MaisonNeueExtended-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

