@font-face {
    font-family: 'Scene Std';
    src: url('SceneStd-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Scene Std';
    src: url('SceneStd-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Scene Std';
    src: url('SceneStd-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Scene Std';
    src: url('SceneStd-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Scene Std';
    src: url('SceneStd-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Scene Std';
    src: url('SceneStd-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Scene Std';
    src: url('SceneStd-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Scene Std';
    src: url('SceneStd-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Scene Std';
    src: url('SceneStd-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

