{% include "head.njk" %}

<nav>
    <span>{{ site.description }}</span>
    <br/>
    <br/>
    {% for page in collections.page | reverse %}
        <a href="{{ page.data.permalink }}" style="--bg: {{ page.data.theme.background_color }}">
            {# {{ page.data.theme.emoji }} #}
            <span>{{ page.data.title }}</span>
        </a>
    {% endfor %}
    {% for member in site.members %}
        <a href="{{ member.url }}" target="_blank">{{ member.emoji }}
            {{ member.name }}</a>
    {% endfor %}
    {# {% for friend in site.friends %}
    {{ friend.emoji }}
    <a href="{{ friend.url }}" target="_blank">{{ friend.name }}</a>
    {% endfor %} #}
    {# <br/>
    <br/>
    ☞
    <a style="background-color: #eee;" href="https://tinyletter.com/nordicaudiovisualartists">Subscribe to the newsletter
    </a>
    and
    <a href="https://discord.gg/tDpFaVj">Join our Discord</a> #}
</nav>

{% include "foot.njk" %}