#home {
	/* font-size: max(54px, min(7vw, 96px)); */
	/* height: 100%; */
	height: 100vh;
	padding: calc(var(--base) * 2);
	/* background-image: linear-gradient(#0f160e, #6e4eb9, #0f1606); */
}

@media (min-height: 960px) {
	#home {
		display: grid;
		justify-content: center;
		align-content: center;
	}
}

#home article > * {
	padding: 0;
}

#home > p {
	padding: 0 var(--base);
	text-transform: uppercase;
}

nav a {
	/* display: block; */
	/* padding: 1rem; */
	background: none !important;
}

/* nav a:hover {
    text-decoration: underline;
} */

/* nav a span {
    color: white;
    mix-blend-mode: hard-light;
} */
