:root {
	--base: 1.6rem;
	--padding-side: 6vw;
	--black: #0b0b0b;
	--white: #ebebeb;
	--padding: calc(var(--base) * 2);
}

html {
	font-family: 'TT Firs Neue', sans-serif;
	min-height: 100vh;
	background-color: var(--black);
	color: var(--white);
}

body {
	margin: 0 auto;
	font-size: max(2.8rem, min(1.8vw, 3.6rem));
	font-weight: 300;
	line-height: 1.15;
	letter-spacing: 0.01rem;
	box-sizing: border-box;
}

body > * {
	transition: opacity 400ms ease-in;
	opacity: 1;
}

body.loading > * {
	opacity: 0;
}

#home {
	font-size: max(3.8rem, min(3.2vw, 7rem));
}

a {
	cursor: pointer;
}

@media only screen and (-webkit-device-pixel-ratio: 2) and (max-device-width: 1366px) {
	html {
		font-size: 50%;
	}
}

/* basic */

strong {
	font-weight: normal;
}

h1,
h2,
h3 {
	font-weight: normal;
}

h2 {
	text-transform: uppercase;
}

h2,
h3 {
	font-size: inherit;
	letter-spacing: 0.01em;
}

li {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

hr {
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

p:not(:only-child),
main > *,
section > *:not(:last-child) {
	margin-bottom: var(--padding);
}

header > *:not(img),
main > * {
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
	padding: 0 var(--padding);
}

main > * > *:not(ol) {
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}

section p:first-child {
	margin-top: 0;
}

/* other */

::-webkit-scrollbar {
	display: none;
}

@font-face {
	font-family: 'TT Firs Neue';
	src: url('/assets/fonts/TTFirsNeue-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
}

@font-face {
	font-family: 'TT Firs Neue';
	src: url('/assets/fonts/TTFirsNeue-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF;
}

