---
layout: layouts/default.njk
body_class: home
members: [
	{name: Jonas Johansson, url: https://jonasjohansson.se, avatar: jonas},
	{name: Rasmus Stride, url: http://www.stridestud.io/, avatar: rasmus},
	{name: Katrín Hauksdottir, url: https://www.katikati.me/},
	{name: Atlí Bollason, url: https://atlibollason.com/, avatar: atli},
	{name: Owen Hindley, url: http://www.owenhindley.co.uk/}
	]

---

<base href="/assets/media/">
<section>
	<h1>Nordic<br />Audio<br />Visual<br />Artists.</h1>
	<img class="logo" src="nava-logo.svg">
</section>
<section>
	<nav>
	{% for page in collections.page %}
		<a style="display:block;" href="{{ page.url }}">{{ page.data.title }}</a>
	{% endfor %}
	</nav>
	<p>
		{{ site.description }}
	</p>
	<span>NAVA is managed by</span>
	<nav>
	{% for member in members %}
		<a href="{{ member.url }}" target="_blank">{{ member.name }}{% if member.avatar %}<img class="avatar" src="avatar-{{ member.avatar }}.gif">{% endif %}</a>
	{% endfor %}
	</nav>
</section>