---
layout: layouts/default.njk
body_class: home
members: [
	{name: Jonas Johansson, url: https://jonasjohansson.se},
	{name: Rasmus Stride, url: http://www.stridestud.io/},
	{name: Katrín Hauksdottir, url: https://www.katikati.me/},
	{name: Atlí Bollason, url: https://atlibollason.com/},
	]

---

<section>
    <h1>Nordic<br />Audio<br />Visual<br />Artists.</h1>
</section>
<section>
    <nav>
        <a href="./open-call-roskilde/">Open call Roskilde</a>
        <a href="./open-call-reykjavik/">Open call Reykjavik</a>
    </nav>
</section>
<section>
    <p>
        {{ site.description }}
    </p>
    <nav>
	{% for member in members %}
		<a href="{{ member.url }}" target="_blank">{{ member.name }}</a>
	{% endfor %}
    </nav>
</section>