<title>{{ site.title }}</title>
<meta charset="utf-8">
<link rel="canonical" href="{{ site.url }}">
<meta name="og:title" itemprop="name" content="{{ site.title }}">
<meta name="og:description" name="description" itemprop="description" content="{{ site.description }}">
<meta name="og:url" content="{{ site.url }}">
<meta name="og:image" content="{{ site.url }}{{ site.cover }}">
<!-- <meta name="og:site_name" content="{{ site.name }}"> -->
<!-- <meta name="og:locale" content="en_GB"> -->
<meta name="og:type" content="website">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
